extends layout


block content
  title= title

  h1 Author: #{author.name}
  p #{author.date_of_birth_formatted} - #{author.date_of_death_formatted}

  div(style="margin-left : 20px ; margin-top:20px")
    
    h4 Books

    dl 
      each authorsbooks in author_books
        dt
          a(href=authorsbooks.url) #{authorsbooks.title} 
        dd #{authorsbooks.summary}
      else 
        p there is no books for this author
  
  hr
  p 
    a(href=author.url + '/delete') #[strong Delete Author] 
