extends layout

block content

  h1 ID: #{bookInstances._id}

  p #[strong Title:]
    a(href=bookInstances.book.url) #{bookInstances.book.title}
  p #[strong Imprint:] #{bookInstances.imprint}

  p #[strong Status:]
    if bookInstances.status=='Available'
      span.text-success #{bookInstances.status}
    else if bookInstances.status=='Maintenance'
      span.text-danger #{bookInstances.status}
    else
      span.text-warning #{bookInstances.status}

  if bookInstances.status!='Available'
    p #[strong Due back:] #{bookInstances.due_back}
  p 
    a(href=bookInstances.url + '/delete') #[strong Delete Book instaces]
  p 
    a(href=bookInstances.url + '/update') #[strong Update Book instaces]  